* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #333333;
    
    color: #FFFFFF;
    
    line-height: 1.6;
    height: 100vh;
   
    display: flex;
    justify-content: center;
   
    align-items: center;
    
    text-align: center;
    
}


.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    
    max-width: 800px;
    
    margin: auto;
   
}


.profile-pic {
    width: 250px;
    
    height: auto;
    
    border-radius: 50%;
    
    object-fit: cover;
   
    margin-bottom: 20px;
   
}


h2 {
    margin-bottom: 20px;
    
}

.experience,
.education {
    display: flex;
    
    align-items: flex-start;
    
    justify-content: space-between;
   
    width: 100%;
    
    max-width: 800px;
   
    margin-bottom: 20px;
  
}

.experience-details,
.education-details {
    flex: 1;
    text-align: left;
    margin-right: 15px;
}

.logo {
    width: 50px;
    height: auto;
}

.additional-info {
    margin-top: 5px;
}

.menu-btn {
    font-size: 30px;
    cursor: pointer;
    background-color: #2F4F4F;
    color: white;
    border: none;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.overlay-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999;
}

.overlay-menu ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20%;
    text-align: center;
}

.overlay-menu ul li {
    margin: 20px 0;
}

.overlay-menu ul li a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.overlay-menu .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.contact-list img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.social-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.contact-list span {
    align-self: center;
    color: white;
}

.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}
